html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #17455A;
    margin: 0;
}

.asidefooter{
    display: flex;
}

.redes{
    display: flex;
    flex-direction: column;
    margin-left: 0px 1px;
}

img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.redes h4{
    display: flex;
    flex-direction: column;
    font-weight: 540;
}

a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

a img:hover{
    transform: scale(1.25);
}

.sectionright{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.github{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.link{
    color: rgb(222, 213, 213);
    text-decoration: none;
}

.link:hover{
    font-family: Jost, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(indigo, rgb(30, 66, 176));
    color: white;
    border-radius: 20px;
    text-decoration: underline;
    transform: scale(1.10);
}
